{% extends 'base.html.twig' %}

{% block title %}Vote index{% endblock %}

{% block body %}

<h1> hello to admin page</h1>

    {% for user in users %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ user.id }}</th>


            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ user.username }}</td>
            </tr>
            <tr>

                <td>{% for roles in user.roles %}
                    {{ roles }}
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
        {{ include('user/delete.html.twig') }}
        </div>
    {% endfor %}
{% endblock %}
